@{
    ViewBag.Title = "ASP.NET MVC + VUEJS Home";
}

<div class="jumbotron">
    <h1>ASP.NET MVC + VUEJS</h1>
    <p class="lead">Bootstrap template for MVC web app with automatic azure deployment from github. With clientside vuejs automatic built with npm and gulp.  </p>
</div>

<div class="row">
    <h2>Tools:</h2>
    <p>npm -- <a href="https://www.npmjs.com/">https://www.npmjs.com/</a></p>
    <p>gulp -- <a href="http://gulpjs.com/">http://gulpjs.com/</a></p>
        
    <h2>Libs:</h2>
    <p>vuejs -- <a href="https://vuejs.org/">https://vuejs.org/</a></p>
    <p>vee validate -- <a href="http://vee-validate.logaretm.com/">http://vee-validate.logaretm.com/</a></p>
    
    <h2>Local Process:</h2>
    <p>Install node.js <a href="https://nodejs.org/en/download/">https://nodejs.org/en/download/</a></p>
    <p>run "npm install" from the site root (where package.json is located)</p>
    <p>in VS View->Other Windows->Task Runner Explorer->run default</p>
    <p>run VS debug as usual</p>
    <p>deployment on azure: commit + push the branch that is configured on azure for deployment e.g. dev or prod.</p>
        
    <h2>Structure:</h2>
    <p>
        <ol>
            <li>.babelrc -- Babel preset config for ES6 <a href="https://babeljs.io/docs/plugins/preset-es2015/">https://babeljs.io/docs/plugins/preset-es2015/</a></li>
            <li>.deployment -- azure command to run for deployment after git pull</li>
            <li>gulpfile.babel.js -- gulp tasks</li>
            <li>package.json -- npm packages</li>
            <li>packages.config -- nuget packages</li>
            <li>web.dev.config, web.[BRANCH].config config files for deployment</li>
            <li>js sources folder: js/src (make sure that all new files are set to "Content" & "Copy if newer")</li>
            <li>js compiled folder: js/dst</li>
            <li>js/src/vueComponents (vue components)</li>
            <li>js/src/less styles</li>
            <li>files are included in views/shared/_includes.cshtml</li>
        </ol>
    </p>

        <h2> Deployment process:</h2>
    <p>
        <ol>
            <li>azure pulls the branch from github that was configured for deployment</li>
            <li>azure runs the command from .deployment</li>
            <li>deploy-cfg.cmd creates info.txt text file with the deployment details, runs deploy.cmd afterwards</li>
            <li>deploy.cmd (modified kudo deployment script) does this:
                <ol>
                    <li>nuget restore</li>
                    <li>msbuild to temp folder</li>
                    <li>npm install</li>
                    <li>gulp default</li>
                    <li>copy files from temp to site folder</li>
                </ol>
            </li>
        </ol>
    </p>
</div>